body{
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: 2px solid lightseagreen;
    position: absolute;
    top:30%;
}

table caption{
    font-weight: 900;
}