body{
    display: flex;
    justify-content: center;
}
form{
    height: 450px;
    width: 300px;
    border: 2px solid rgb(233, 233, 233);
    box-shadow: 0px 2px 4px black;
    position: absolute;
    top: 14%;
    background-color: rgb(247, 247, 247);
}

form div,button{
    margin: 5px;
    margin-left: 25px;
    margin-top: 10px;
    position:relative;
    top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form h3{
    justify-self: center;
    position: absolute;
    top: 10px;
    font-size: x-large;
}
form div{
    padding-bottom: 5px;

}
form button{
    height: 30px;
    width: 110px;
    position: relative;
    top: 95px;
    left: 65px;
    font-weight: 700;
    font-size: medium;
    border-radius: 8px;
    color: whitesmoke ;
    background-color: rgb(18, 132, 239);
}

