
#circle{
    height: 190px;
    width: 190px;
    background-color: orange;
    border-radius: 50%;
    margin: 0px auto;
    margin-top: 5px;
    box-shadow: 0px 4px 8px black;
    transition:5s ease-in-out 0.2s;
}
#circle:hover{
    box-shadow: 0px 8px 16px black;
    /* transform:rotate(180deg); */
    transform: translateY(400px);

}

.eye{
    height: 13%;
    width: 13%;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    position: relative;
    left: 70px;
    top: 45px;
}
#eyeR{ 
    left: 85px;
}
#eyeL{
    left: 45px;
}
#mouth{
    height: 30px;
    width: 85px;
    background-color: brown;
    position: relative;
    top: 80px;
    left: 50px;
    border-radius: 0 0 20px 20px;
}